<div class="card" style="width: 100%;">
  <div class="card-body col">
    <h5 class="card-title">{{currency.name}}</h5>
    <label class="switch float">
      <input type="checkbox"
      [checked]="switch"
      [disabled]="toMuchFollows"
      (change)="followIt(currency.id)">
      <span class="slider round"
      (click)="alert()"></span>
    </label>
    <p class="card-text">{{currency.symbol}}</p>
    <p>
      <button class="btn btn-primary"
        type="button"
        data-toggle="collapse"
        data-target="#collapseExample"
        aria-expanded="false"
        aria-controls="collapseExample"
        (click)="getMoreInfo(currency.id)">
        More info
      </button>
    </p>
    <ng-container>
      <div class="collapse"
        [ngClass]="{
        'contentOff': !collapse,
        'contentOn' : collapse}"
        id="collapseExample">
        <div *ngIf="spiner" class="loader"></div>
        <div class="card card-body">
          <p><span>{{currencyInfo.name}}</span>
            <img class="float" [src]="currencyInfo.image">
          </p>
          <p class="marginBot">{{currencyInfo.priceUsd | currency: "USD"}}</p>
          <p class="marginBot">{{currencyInfo.priceEur | currency: "EUR"}}</p>
          <p class="marginBot">{{currencyInfo.priceNis | currency: "ILS"}}</p>
        </div>
      </div>
    </ng-container>
  </div>
</div>
