<div class="card" style="width: 100%;">
  <div class="card-body col">
    <h5 class="card-title">{{currency.symbol}}</h5>
    <label class="switch float">
      <input type="checkbox">
      <span class="slider round"></span>
    </label>
    <p class="card-text">{{currency.name}}</p>
    <!-- <a href="#" class="btn btn-primary" (click)="getMoreInfo(currency.name)">More
      info</a>
    <ng-container *ngIf="currencyInfo">
      <p><span>{{currencyInfo.id}}</span>
        <img class="float" [src]="currencyInfo.image.small">
      </p>
      
      <p>{{currencyInfo.tickers[0].converted_last.usd}} $</p>
    </ng-container> -->
    <p>
      <button class="btn btn-primary"
        type="button"
        data-toggle="collapse"
        data-target="#collapseExample"
        aria-expanded="false"
        aria-controls="collapseExample"
        (click)="getMoreInfo(currency.id)"
        (click)="switchCollapse()">
        More info
      </button>
    </p>
    <ng-container>
      <div class="collapse"
        [ngClass]="{
        'contentOff': !collapse,
        'contentOn' : collapse}"
        id="collapseExample">
        <div class="card card-body">
          <p><span>{{currencyInfo.name}}</span>
            <img class="float" [src]="currencyInfo.image">
          </p>
          <p>{{currencyInfo.price}} $</p>
        </div>
      </div>
    </ng-container>
  </div>
</div>
