<!-- to signUp -->
<div class="row bgWhite">
<form class="col col-md-5 fixed">
    <h3>Alredy have an acount? <a class="red" [routerLink]="[ '/login' ]">go to login</a> or create a new acount</h3>
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input #email type="email" class="form-control" id="exampleInputEmail1"
            aria-describedby="emailHelp">
        <small id="emailHelp" class="form-text text-muted">We'll never share
            your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input #passeword type="password" class="form-control"
            id="exampleInputPassword1">
    </div>
    <button type="submit" class="btn btn-primary" (click)="onSignUp(email.value,
        passeword.value)">Login</button>
        <p>{{errorMessage}}</p>
</form>
</div>

