<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Departure</th>
      <th scope="col">Date</th>
      <th scope="col">Arrival</th>
      <th scope="col">Duration</th>
      <th scope="col">Operator</th>
      <th scope="col">Bus ID</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    <ng-container>
    <ng-container *ngFor="let dispo of dispoTravel">
    <tr>
      <app-cmp-main1 class="table-line" [dispo1]="dispo"></app-cmp-main1>
    </tr>
  </ng-container>
</ng-container>
  </tbody>
</table>
