<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <ul class="card-text">
                    <li>
                        <h4 class="card-title">Hello! My name is Chimeon COHEN.</h4>
                    </li>
                    <li>
                        Email: chimco26@gmail.com
                    </li>
                    <li>
                        Tel: 0527163512
                    </li>
                    <li>
                        <img src="../../../assets/image.jpg" alt="Profil">
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-5">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">My project</h4>
                <p class="card-text">
                        In this aplication you will find the most common 
                        crypto-currencies and there price in three different 
                        currencies when you click in the "more info" button. You can 
                        also search a specific coin through the "search" input.
                        You can also follow some currencies by clicking in the 
                        toogle button, but you don't can to follow more than
                        five crypto-currencies at the time, if you whant to 
                        add one more currency you have to remove before another
                        one.
                </p>
            </div>
        </div>
    </div>
</div>
