<h2>Mes appareils</h2>
<ul class="list-group">
  <ng-container *ngFor="let appareil of appareils; let i = index">
    <app-appareils-comp
      [appareil]="appareil"
      [index]="i"
      [id]="appareil.id"
    ></app-appareils-comp>
  </ng-container>
</ul>
<button class="btn btn-success" [disabled]="!isAuth" (click)="onAllumer()">
  Tout allumer
</button>
<button class="btn btn-danger" [disabled]="!isAuth" (click)="onEteindre()">
  Tout éteindre
</button>
<button class="btn btn-primary" (click)="onEnvoyer()">Tout envoyer</button>
<button class="btn btn-primary" (click)="onRecup()">Tout recupérer</button>

<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="form-group">
        <label for="name">
          Nom de l'appareil
        </label>
        <input type="text" id="name" class="form-control" name="name" ngModel required>
      </div>
      <div class="form-group">
        <label for="status">
          État de l'appareil
        </label>
        <select id="status" class="form-control" name="status" [ngModel]='defaultOff'>
          <option value="allumé">Allumé</option>
          <option value="éteint">Eteint</option>
        </select>
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="f.invalid">Enregistrer</button>
    </form>
  </div>
</div>
